# Ensure that text files have normalized line endings on commit
*.txt text

# Handle batch scripts specifically for Windows
*.bat text eol=crlf

# Mark all `*.bin` files as binary to prevent Git from messing with line endings
*.bin binary

# Use Git LFS for managing large files
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# Source code should be text and not managed by LFS
*.gd text
